# Node
node_modules/
frontend-demo/node_modules/

# Vite
frontend-demo/dist/
frontend-demo/dist-ssr/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.venv/

# Django
backend/db.sqlite3
backend/db.sqlite3-journal

# Environment variables

# Database backups
backups/

# OS
.DS_Store

# Logs
*.log
.vite/
